body
{
    margin: 0;
    font-family: sans-serif;
    color: rgb(142, 140, 140);
}

h2
{
    font-weight: 900;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
}

form
{
    background-color: rgb(222, 222, 225);
    padding: 20px 0;
    max-width: 500px;
    margin: auto;
    box-shadow: 0 0 5px black;
}

.form_input
{
    padding: 6px 20px;
}

input, textarea, select
{
    width: 100%;
    box-sizing: border-box;
    padding: 6px 8px;
    border: none;
    border-left: 3px solid rgb(142, 140, 140);
}

option
{
    background-color: rgb(222, 222, 225);
}

textarea
{
    min-width: 100%;
    resize: vertical;
    min-height: 100px;
    max-height: 200px;
    font-family: sans-serif;
}

label
{
    font-size: 0.88em;
}

.checkbox
{
    width: auto;
    height: 10px;
}

fieldset
{
    border-radius: 5px;
    border: 1px solid #666;
    padding: 0 20px 20px 20px;
    margin: 20px;
}

legend
{
    padding: 0 6px;
}

a{
    color: #69f;
    text-decoration: none;
}

